<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="/css/style.css">
  <link rel="icon" href="/img/faviconadtch.ico">
</head>
<body>
{{>header}}


<div>
<h2>{{errormessage}}</h2>
</div>

{{>footer}}
</body> 

</html>