<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/css/style.css">
      <link rel="icon" href="/img/faviconadtch.ico">
</head>
<body>
<div>
    {{>header}}
        <h2>{{name}}</h2>
</div>
{{>footer}}
</body> 

</html>