    body {
        margin: 0px;
        padding: 0px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        background: #636b63;
    }
    /* latin-ext */
    /*   
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin 
    
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    } */
    
    #header {
        padding: 20px;
        top: 0px;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100px;
        background: lightgrey;
        border-bottom: 0.1px solid grey;
        background-image: url("data:image/svg+xml,%3Csvg id='Menu' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 295.84 112.78'%3E%3Ctitle%3Elogo_vielleicht%3C/title%3E%3Cpath d='M70.1,42.39H80.44L101,96H90.45l-4.19-11H64.4L60,96H49.44Zm5.24,14.2L68.15,75H82.48Z' transform='translate(-49.44 -23.05)' fill='%23006680'/%3E%3Cpath d='M132.66,42.39h9.94V96h-9.94V91.77a19.49,19.49,0,0,1-5.84,4A16.35,16.35,0,0,1,120.47,97a17.64,17.64,0,0,1-13.28-6,20.77,20.77,0,0,1-5.6-14.8q0-9.18,5.42-15a17.27,17.27,0,0,1,13.17-5.86,16.74,16.74,0,0,1,6.69,1.35,18.28,18.28,0,0,1,5.78,4V42.39ZM122.2,64.49a10,10,0,0,0-7.66,3.26,11.75,11.75,0,0,0-3,8.36,11.87,11.87,0,0,0,3.1,8.45,10.06,10.06,0,0,0,7.64,3.31A10.24,10.24,0,0,0,130,84.62a11.92,11.92,0,0,0,3.09-8.54A11.57,11.57,0,0,0,130,67.7,10.37,10.37,0,0,0,122.2,64.49Z' transform='translate(-49.44 -23.05)' fill='%23006680'/%3E%3Cpath d='M147.61,42.39h29.61V52.44h-9.76V96H157.12V52.44h-9.51V42.39Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M216.7,79H184.76a10.63,10.63,0,0,0,3.7,6.72,11.6,11.6,0,0,0,7.67,2.5,13.26,13.26,0,0,0,9.58-3.9l8.38,3.93a19.77,19.77,0,0,1-7.5,6.57A23.46,23.46,0,0,1,196.2,97Q186.87,97,181,91.1a20,20,0,0,1-5.86-14.73A20.69,20.69,0,0,1,181,61.31a19.63,19.63,0,0,1,14.66-6q9.36,0,15.22,6t5.86,15.83Zm-9.94-7.83a10,10,0,0,0-3.89-5.39,11.26,11.26,0,0,0-6.73-2.08,11.91,11.91,0,0,0-7.3,2.33,13,13,0,0,0-3.65,5.14h21.56Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M262.1,64.35l-8.28,4.55a14,14,0,0,0-4.61-3.39,13.86,13.86,0,0,0-5.34-.95,12.45,12.45,0,0,0-9,3.33,11.34,11.34,0,0,0-3.45,8.53,11,11,0,0,0,3.32,8.26,12,12,0,0,0,8.71,3.2q6.67,0,10.39-4.55l7.84,5.37q-6.37,8.29-18,8.29-10.45,0-16.37-6.19a20.59,20.59,0,0,1,5-32.71,24,24,0,0,1,11.53-2.77,23.37,23.37,0,0,1,10.6,2.35A20.12,20.12,0,0,1,262.1,64.35Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M267.81,42.39h9.87v18a22.65,22.65,0,0,1,5.86-3.77,15.12,15.12,0,0,1,6-1.26,13.46,13.46,0,0,1,9.94,4.08q3.46,3.53,3.46,10.38V96h-9.8V78.59a42.88,42.88,0,0,0-.66-9.32,6.5,6.5,0,0,0-2.24-3.64,6.29,6.29,0,0,0-3.92-1.2,7.38,7.38,0,0,0-5.19,2,10.61,10.61,0,0,0-3,5.46,45.22,45.22,0,0,0-.44,8.16V96h-9.87V42.39Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M194.72,107H206v2.2h-9v7h9v2.2h-9v11.29h-2.24V107Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M225.52,113.15v16.61h-2.11V126.9a9.17,9.17,0,0,1-3,2.46,8.42,8.42,0,0,1-9.68-1.73,8.57,8.57,0,0,1-2.5-6.22,8.41,8.41,0,0,1,2.52-6.14,8.21,8.21,0,0,1,6.06-2.55,7.84,7.84,0,0,1,3.7.87,8.44,8.44,0,0,1,2.91,2.61v-3.05h2.11ZM217,114.79a6.45,6.45,0,0,0-5.69,3.34,6.73,6.73,0,0,0,0,6.71,6.55,6.55,0,0,0,2.42,2.49,6.31,6.31,0,0,0,3.26.89,6.68,6.68,0,0,0,3.32-.88,6.19,6.19,0,0,0,2.42-2.39,6.84,6.84,0,0,0,.85-3.4,6.61,6.61,0,0,0-1.9-4.82A6.29,6.29,0,0,0,217,114.79Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M245.81,116.6l-1.69,1.05a7.1,7.1,0,0,0-6-2.92,6.93,6.93,0,0,0-5,2,6.37,6.37,0,0,0-2,4.74,6.73,6.73,0,0,0,.92,3.42,6.47,6.47,0,0,0,2.53,2.49,7.65,7.65,0,0,0,9.58-2l1.69,1.11a8,8,0,0,1-3.2,2.78,10.21,10.21,0,0,1-4.57,1,9,9,0,0,1-6.53-2.5,8.14,8.14,0,0,1-2.6-6.09,8.7,8.7,0,0,1,1.21-4.48,8.55,8.55,0,0,1,3.34-3.23,9.73,9.73,0,0,1,4.75-1.16,10.15,10.15,0,0,1,3.18.5,8.86,8.86,0,0,1,2.6,1.31A7.14,7.14,0,0,1,245.81,116.6Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M250.69,107h2.14v6.12h3.39V115h-3.39v14.76h-2.14V115h-2.92v-1.85h2.92V107Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M265.78,112.72a8.23,8.23,0,0,1,6.36,2.78,8.92,8.92,0,0,1-.13,12.08,8.78,8.78,0,0,1-12.48,0,8.9,8.9,0,0,1-.13-12.07A8.22,8.22,0,0,1,265.78,112.72Zm0,2.09a6.17,6.17,0,0,0-4.58,2,6.58,6.58,0,0,0-1.91,4.76,6.75,6.75,0,0,0,.87,3.36,6.18,6.18,0,0,0,2.36,2.4,6.71,6.71,0,0,0,6.53,0,6.18,6.18,0,0,0,2.36-2.4,6.75,6.75,0,0,0,.87-3.36,6.57,6.57,0,0,0-1.92-4.76A6.17,6.17,0,0,0,265.78,114.82Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M277.47,113.15h2.18v2.43a7.66,7.66,0,0,1,2.06-2.14,4.06,4.06,0,0,1,2.26-.71,3.9,3.9,0,0,1,1.89.56l-1.11,1.8a3,3,0,0,0-1.13-.29,3.09,3.09,0,0,0-2.06.88,5.55,5.55,0,0,0-1.51,2.72,26.13,26.13,0,0,0-.4,5.74v5.62h-2.18V113.15Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Cpath d='M287.18,113.15h2.26l5.71,12.79,5.54-12.79H303l-9.91,22.68H290.8l3.2-7.33Z' transform='translate(-49.44 -23.05)' fill='%23575656'/%3E%3Crect x='273.42' width='7.97' height='7.97' fill='%23575656'/%3E%3Crect x='263.55' y='3.57' width='7.41' height='7.41' fill='%23575656'/%3E%3Crect x='257.56' y='12.48' width='6.85' height='6.85' fill='%233d5d65'/%3E%3Crect x='257.84' y='23.43' width='6.29' height='6.29' fill='%2340707c'/%3E%3Crect x='264.39' y='32.33' width='5.74' height='5.74' fill='%23007086'/%3E%3Crect x='324.25' y='58.96' width='5.18' height='5.18' transform='translate(604.24 100.05) rotate(180)' fill='%23006680'/%3E%3Crect x='285.23' y='32.89' width='4.62' height='4.62' fill='%23006680'/%3E%3Crect x='291.78' y='24.54' width='4.06' height='4.06' fill='%23006680'/%3E%3Crect x='292.06' y='14.16' width='3.51' height='3.5' fill='%23006680'/%3E%3Crect x='286.07' y='5.8' width='2.95' height='2.95' fill='%23006680'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 2% 50%;
        background-size: 400px 120px;
    }
    
    #urlcollector {
        padding: 10px 20px 10px 11px;
        /* border-radius: 5px; */
        margin: 10px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
    }
    
    #h1 {
        color: white;
        margin-left: 400px;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #main-content {
        margin: 10px;
        background: #ffffff;
        width: 1800px;
        height: 100%;
        padding: 40px;
        /* border-radius: 5px; */
        border: 0.1px solid black;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        left: 50%;
        transform: translate(5%, 0);
    }
    
    .result {
        color: floralwhite;
        background: rgb(24, 102, 128, 0.6);
        padding: 10px 10px 10px 11px;
        /* border-radius: 5px; */
        margin: 10px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
    }
    
    .showresult {
        animation: fadeIn;
        animation-duration: 10s;
        list-style-type: none;
    }
    
    p:first-child {
        animation: fadeIn;
        animation-duration: 10s;
        color: floralwhite;
        font-size: 19px;
    }
    
    li {
        padding: 11px;
        animation: fadeIn;
        animation-duration: 10s;
        list-style-type: none;
        color: floralwhite;
        font-size: 20px;
        outline: solid 0.5px floralwhite;
        margin: 15px;
    }
    
    li::marker {
        list-style-type: none;
    }
    
    ul.ba {
        list-style-type: none;
    }
    
    .headline {
        margin-left: 15px;
        font-size: 20px;
        margin-top: 20px;
    }
    
    #Contenttype {
        width: 530px;
    }
    
    #channel {
        width: 530px;
    }
    
    .is-empty {
        display: none;
    }
    
    .is-fueled {
        display: block;
    }
    
    img {
        width: 400px;
        height: 400px;
    }
    
    a {
        text-decoration: none;
    }
    
    #footer {
        position: fixed;
        background: #186680;
        width: 100%;
        height: 50px;
        bottom: 0px;
        overflow: hidden;
    }
    
    #searchBTN {
        margin: 26px;
        padding: 10px 20px 10px 11px;
        background: rgb(24, 102, 128, 0.6);
        border: 0.2px solid black;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        cursor: pointer;
    }
    
    #searchBTN:hover {
        background-color: #f2cb82;
    }
    
    #searchBTN:active {
        background-color: WHEAT;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    #reload {
        padding: 10px 20px 10px 11px;
        background: rgb(24, 102, 128, 0.6);
        border: 0.2px solid black;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        cursor: pointer;
        position: sticky;
        margin-bottom: 25px;
        margin-left: 8px;
    }
    
    #reload:active {
        background-color: WHEAT;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    #reload:hover {
        background-color: #f2cb82;
    }
    
    input[list] {
        background: lightgrey;
        padding: 15px 20px 15px 11px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
    }
    
    .data-list-input {
        margin-left: 5px;
        width: 80px;
        height: 30px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -webkit-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
        -moz-box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
        ;
    }
    
    #urlcollector {
        margin-top: 30px;
        width: 500px;
    }
    
    .container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 40px;
        grid-template-rows: 140px 311px 1fr 29px;
        gap: 40px 0px;
        grid-template-areas: "controller controller controller" "time type type" "adslots adslots adslots" "adunitstruc adunitstruc adunitstruc";
        font-family: Arial, Helvetica, sans-serif;
        overflow: scroll;
    }
    
    .controller {
        position: absolute;
        grid-area: controller;
    }
    
    .time {
        grid-area: time;
    }
    
    .type {
        grid-area: type;
    }
    
    .adslots {
        margin-top: -74px;
        grid-area: adslots;
        padding: 15px 0px 16px 0px;
    }
    
    .adunitstruc {
        grid-area: adunitstruc;
    }
    
    .loader {
        visibility: hidden
    }
    
    .loading {
        position: fixed;
        top: 25%;
        left: 25%;
        width: 800px;
        height: 800px;
        z-index: 1;
        margin: -75px 0 0 -75px;
        /* border: 16px solid rgba(24, 102, 128, .3);
        border-radius: 50%;
        border-top: 16px solid #3498db; */
        background-image: url(/img/logospinner.png);
        background-repeat: no-repeat;
        background-position: center;
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }