body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 10px;
    background: #575656;
    width: 800;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid black;
}

#urlcollectorform {
    margin: 37px 0px;
    padding: 0px;
}

h1 {
    color: white;
}

#main-content {
    margin: 10px;
    background: lightgrey;
    width: 800;
    height: 100%;
    padding: 40px;
    border-radius: 5px;
    border: 0.1px solid black;
    -webkit-box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
    box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
}

.result {
    background: white;
    padding: 2px 5px 2px 11px;
    border: 0.2px solid black;
    border-radius: 5px;
    MARGIN: 5PX;
}

.is-empty {
    display: none;
}

.is-fueled {
    display: block;
}

img {
    width: 400px;
    height: 400px;
}

a {
    text-decoration: none;
}

#footer {
    position: fixed;
    background: #186680;
    width: 100%;
    height: 50px;
    bottom: 0px;
    overflow: hidden;
}

#searchBTN {
    margin: 26px;
    background: WHEAT;
    border: 0.2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
    box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
    cursor: pointer;
}

#searchBTN:hover {
    background-color: #f2cb82;
}

#searchBTN:active {
    background-color: WHEAT;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reload {
    background: WHEAT;
    border: 0.2px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
    box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
    cursor: pointer;
    position: sticky;
    margin-bottom: 25px;
}

#reload:active {
    background-color: WHEAT;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reload:hover {
    background-color: #f2cb82;
}

input[list] {
    border: 0.2px solid yellow;
    background: lightgrey;
    border-radius: 5px;
}

.data-list-input {
    border-radius: 5px;
    width: 80px;
    height: 30px;
    -webkit-box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
    box-shadow: 5px 4px 4px -1px rgba(0, 0, 0, 0.82);
}

#urlcollector {
    margin-top: 30px;
    width: 500px;
}

.container {
    margin: 15px;
    display: grid;
    margin-top: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 140px 311px 1fr 29px;
    gap: 25px 0px;
    grid-template-areas: "controller controller controller" "time type type" "adslots adslots adslots" "adunitstruc adunitstruc adunitstruc";
}

.showresult {
    display: inline-block;
    margin: 0 0.5rem;
    animation: animate__zoomIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.controller {
    position: absolute;
    grid-area: controller;
}

.time {
    grid-area: time;
}

.type {
    grid-area: type;
}

.adslots {
    grid-area: adslots;
}

.adunitstruc {
    grid-area: adunitstruc;
}